/* --Rules-- */
* {
    margin: 0;
    padding: 0;
}

.content {
    padding: 0 var(--s48px) var(--s16px) var(--s48px);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

body {
    background-color: #F1FFFF;
}

/* variables */
:root {
    --Montserrat: 'Montserrat', sans-serif;
    --Bodoni: "Bodoni Moda", serif;

    /* size */
    --s8px: 0.5rem;
    --s16px: 1rem;
    --s20px: 1.25rem;
    --s24px: 1.5rem;
    --s32px: 2rem;
    --s40px: 2.5rem;
    --s48px: 3rem;
    --s-60px: 3.75rem;
    --s64px: 4rem;
    --s80px: 5rem;
    --s96px: 6rem;
    --s100px: 6.25rem;
    --s260px: 16.25rem;

    --header-height: 6.25rem;
    --footer-height: 23rem;
    --image-background: linear-gradient(0deg, rgba(185, 202, 137, 1) 0%, rgba(209, 234, 233, 1) 100%);
}

/* ---end--- */

/* text */

.main-h1 {
    font-family: var(--Montserrat);
    font-weight: 600;
    text-align: center;
    margin: var(--s80px) 0;
    font-size: var(--s48px);
}

.main-h2 {
    font-family: var(--Bodoni);
    font-weight: 500;
    font-size: 1.2rem;
}

.main-text {
    font-family: var(--Bodoni);
    font-weight: 400;
    max-width: 1500px;
}

/* --end--*/

.desk-nav {
    display: flex;
    justify-content: space-around;
    max-height: var(--header-height);
    background: rgb(153, 83, 41);
    background: linear-gradient(270deg, rgba(153, 83, 41, 1) 0%, rgba(255, 139, 69, 1) 100%);
}

.desk-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.desk-nav-links a:hover {
    transform: scale(1.2);
}

.desk-nav-links ul {
    display: flex;
    flex-direction: column;
}

.desk-nav-links li,
footer ul li a {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.desk-nav-links a,
footer ul li a {
    font-family: var(--Montserrat);
    text-decoration: none;
    color: black;
    font-size: var(--s20px);
    transition: .4s;
}

.desk-nav-links a:hover,
footer ul li a:hover {
    transform: scale(1.2);
}

.desk-nav-links a:visited,
footer ul li a:visited {
    color: black;
}

.desk-nav-logo {
    width: 50%;
    padding-left: var(--s64px);
}

.desk-nav-logo img {
    width: var(--s100px);
}

.active-desknav {
    border-bottom: 2px solid black;
    font-weight: 600;
}

#text-home {
    /* max-width: 70rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--s80px) auto var(--s80px) auto;
    background: var(--image-background);
    padding: 0 var(--s32px) var(--s80px) var(--s32px);
    width: 90%;
}

/* login */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#password, #email {
    border-radius: 4px;
    border: 1px solid black;
    padding: var(--s16px);
    margin-bottom: var(--s80px);
    margin-right: 6rem;    
}

.breather {
    margin-right: var(--s20px);
}
#email{
    margin-left: var(--s32px);
}



/* end */

/* new post */

.make-new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--s32px);
}

.make-new-post #body {
    height: 30rem;
}

.make-new-post #image, #alt, #title {
    height: 2rem;
}

.make-new-post #image, #alt, #title, #body {
    width: 30rem;
    background-color: #D9D9D9;
    border: none;
    box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.65);
}

/* end */


.wrapper {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10rem;
    margin: 0 auto 10rem auto;
}
.wrapper-home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0 10rem; */
    margin: 0 auto;
}



#posts-container, #home-container {

max-width: 1600px;


}

/* slider */
#slider-background {
    width: 100%;
    background: var(--image-background);
    margin-top: var(--s80px);
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    background: var(--image-background);
    margin: 0 auto 0 auto;

}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    padding: 2rem 0;
}

.slider-post {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.slider-pointer {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.slider-pointer.right {
    right: 0;
}

.slider-pointer.left {
    left: 0;
    transform: rotate(180deg);
}



/* end */

/* grid home */
.grid-home {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin: 0 auto 10rem auto;
    align-items: center;
    justify-content: center;
    gap: 5rem;


}

#home-container {
    padding: 0 var(--s32px);
}

#home-container .post-card-img img{
    cursor: pointer;
}

.grid-home .post-card {

    overflow: hidden;

}

/* end */

#specific-container {
    margin-bottom: 160px;
}

.img-wrapper-speci {
    max-width: 1500px;
    max-height: 600px;
    background: var(--image-background);
    margin: var(--s80px) auto 0 auto;
    display: flex;
    justify-content: center;
    padding: var(--s-60px );

    
}

.post-img{
    overflow: hidden;
    border-radius: var(--s8px);
    max-width: 100%;
    max-height: 600px;
}


.buttons-post {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.post-card-img {
    width: var(--s260px);
    height: var(--s260px);
    /* background-color: green;/*visuel støtte*/

    border-radius: 8px;
}
.post-card-img img{
    max-width: var(--s260px);
}

.post-card {
    max-width: var(--s260px);
    display: flex;
    flex-direction: column;
    gap: var(--s16px);
    transition: .3s;
    align-items: center;
    text-align: center;
}

.post-card:hover{
    transform: scale(1.02);
}

/* .post-card-img img{
    max-width: ;
} */

/* end */

/* footer */

footer {
    height: var(--footer-height);
    background: rgb(130, 156, 157);
    background: linear-gradient(270deg, rgba(130, 156, 157, 1) 0%, rgba(101, 125, 126, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer li {
    list-style-type: none;
}

.active-footer {
    text-decoration: underline 2px solid black;
    font-weight: 600;
}

/* end */

/* buttons */
.sml-btn {
    width: 7.5rem;
    height: 2.2rem;
    border: none;
    border-radius: .5rem;
    font-family: var(--Bodoni);
    text-align: center;
    text-decoration: none;
    color: black;
    transition: .3s;
    cursor: pointer;
}

.sml-btn a {
    text-decoration: none;
    color: black;
}

.sml-btn a:visited {
    color: black;
}

.sml-btn:hover {
    transform: scale(1.05);
}

.read-more-btn {
    background-color: #7A9394;
}
.login-btn {
    background-color: rgb(130, 156, 157);
    margin-bottom: 10rem;
}

.edit-btn {
    background-color: #5BC2D9;
    padding-top: 10px;
}

.publish-btn {
    background-color: #C2D6AB;
}

.delete-btn {
    background-color: #D95B5B;
    padding-top: 10px;
}

.create-btn {
    background-color: #F98844;
    padding-top: 10px;
    margin: 0 auto var(--s80px) auto;
}

.big-btn {
    width: 200px;
    height: var(--s48px);
    border: none;
    border-radius: var(--s8px);
    background-color: #7A9394;
    font-family: var(--Bodoni);
    font-size: var(--s32px);
    font-weight: 100;
}

/* end */

@media screen and (max-width: 1300px) {
    #posts-container {
        max-width: 1200px;
    }

    .grid-home {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .content {
        padding: 0 var(--s64px) var(--s16px) var(--s64px);
    }

    .wrapper{
        padding: 0 5rem;
    }
}

@media screen and (max-width: 750px) {
    .desk-nav {
        justify-content: space-between;
    }

    .desk-nav-logo {
        width: 10%;
        padding-left: 10px;
    }

    .desk-nav-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
    }

    .wrapper {
        padding: 0 var(--s48px);
    }

    .grid-home {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 560px) {
    #password, #email {
            display: flex;
            margin-right: 0;
    }
    
    .breather {
        margin-right: 0;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }

    #email {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    footer ul {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .wrapper {
        padding: 0;
    }

    .content {
        padding: 0 var(--s20px);
    }
}